# python
alias license="curl https://gist.githubusercontent.com/kadekillary/dbc6007d5e8f7bd6b2a54270b192f547/raw > LICENSE"
alias setup="curl https://gist.githubusercontent.com/kadekillary/36e51b642ebd72d8344b65e3f4a543c9/raw >> setup.py"
alias pipupdate="pip3 freeze --local | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip3 install -U"
alias pipdelete="pip freeze | xargs pip uninstall -y"
alias ipy="python -c 'import IPython; IPython.terminal.ipapp.launch_new_instance()'"
alias ipython=" ipython --profile=bruce_wayne"
alias up="source env/bin/activate"
alias down="deactivate"
alias pandas="virtualenv env && source env/bin/activate && pip install pandas"

# sys
alias ip="curl ipecho.net/plain ; echo"
alias sshconfig="${EDITOR:-nvim} ~/.ssh/config"
alias vim="nvim"
alias v="nvim"
alias c3="ftp crossmedia.c3metrics.com"
alias top='top -o cpu'
alias dots="/Users/kadekillary/dotfiles"
alias clean="rm -rf ~/.Trash/*; rm -rf ~/Downloads/*"
alias date="date '+%B %e, %Y'"

# go
alias gogo="cd /Users/kadekillary/go/src/github.com/kadekillary/"

# dropbox
alias drop="cd /Users/kadekillary/Desktop/dropbox"
alias pass="cd /Users/kadekillary/Desktop/dropbox/passwords"
alias notes="cd /Users/kadekillary/Desktop/dropbox/notes"
alias write="cd /Users/kadekillary/Desktop/dropbox/writing"

# .gitignore for langs
alias ignorepy="curl http://gitignore.io/api/macos,python,jupyternotebooks > .gitignore"
alias ignorego="curl http://gitignore.io/api/macos,go > .gitignore"
alias ignorer="curl http://gitignore.io/api/macos,r > .gitignore"
alias ignoremac="curl http://gitignore.io/api/macos > .gitignore"
