# Print term256 colors
colors() {
    for i in {0..255}; do
        printf "\x1b[38;5;${i}m${i}"
    done
}

# For keeping track of notes
note() {
  local notes_dir="$HOME/Desktop/dropbox/notes"
  case "$1" in
    c)
      cd "$notes_dir"
      ;;
    l)
      ls "$notes_dir"
      ;;
    *)
      pushd "$notes_dir"
      nvim "$1"
      popd
  esac
}

# Create a new directory and enter it
mk() {
  mkdir -p "$@" && cd "$@"
}
# Open man page as PDF
manpdf() {
 man -t "${1}" | open -f -a /Applications/Preview.app/
}

# Get random line from file
raffle() {
    head -$((${RANDOM} % `wc -l < $1` + 1)) $1 | tail -1
}
