[user]
    name = kadekillary
    email = kadekillary@pm.me
[core]
    excludesfile = ~/.gitignore_global
[commit]
    template = ~/dotfiles/.gitmessage
[color]
    ui = auto
[github]
	user = kadekillary
[core]
	editor = vim
[pager]
	branch = false
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
[pull]
	ff = only
