[user]
	name = kadekillary
    email = kadekillary@protonmail.com
[core]
    excludesfile = ~/.gitignore_global
[commit]
    template = ~/dotfiles/.gitmessage
[color]
    ui = auto
[github]
	user = kadekillary
[core]
	editor = nvim
